:root {
    --orange: #FC4A1A;
    --blue: #4abdac;
    --clear:#DFDCE3;
  }

ul {
    margin: 1rem 1rem 1rem 1rem;
    padding: 0 0 56px 0;
    list-style: none;
    color: var(--clear);
    font-size: 1.5rem
}

p {
  text-align: center;
}
