* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: 'Montserrat Alternates', sans-serif;
}

:root {
  --orange: #FC4A1A;
  --blue: #5ac3b3;
  --clear-blue: #4abdac;
  --clear:#DFDCE3;
}

body {
  margin: 0;
  padding: 0;
  background: var(--blue);
  color: var(--blue);
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
