:root {
    --orange: #FC4A1A;
    --blue: #5ac3b3;
    --clear-blue: #4abdac;
    --clear:#DFDCE3;
  }

.Icon-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
}

.Icon-container--check {
    position: absolute;
    left: 12px;
}

.Icon-container--delete {
    position: absolute;
    top: -24px;
    right: 0;
}

.Icon-svg {
    width: 24px;
    height: 24px;
    transition: fill .15s;
}

.Icon-container:hover .Icon-svg--check{
    fill: var(--orange);
}

.Icon-container:hover .Icon-svg--delete{
    fill: var(--orange);
}



