:root {
  --orange: #FC4A1A;
  --blue: #5ac3b3;
  --clear-blue: #4abdac;
  --clear:#DFDCE3;
}

.TodoSearch {
    display: flex;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
    color: var(--orange);
    margin-left: 11%;
}

input {
  border-radius: 5px;
  width: 78%;
  height: 3rem;
  background: var(--clear);
  font-family: 'Montserrat';
  font-weight: 400;
  padding: 1rem 1rem 1rem 1rem;
}

.TodoSearch::placeholder {
  color: var(--orange);
  font-family: 'Montserrat';
  font-weight: 400;
  text-align: center;
}

.TodoSearch:focus {
  outline-color: var(--orange);
}